body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(20, 20, 20);
}

#navbar {
  width: 100%;
  height: 6vh;
  background-color: rgb(50, 50, 50);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color : white;
}

#player {
  color : white;
  background-color: rgb(30,30,30);
  width: 90vw;
  height: 10vh;
  position: fixed;
  bottom: 7vh;
  margin-inline: 5vw;
  border-radius: 20px;
  display: grid;
  grid-row: 0;
  justify-content: center;
  visibility: hidden;
}

#player-top{
  width: 80vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#player-info {
  width: 50vw;
  height: 8vh;
  display: flex;
  align-items: center;
}
#player-info img {
  height: 5vh;
  object-fit: contain;
  border-radius: 5px;
  margin-right: 5vw;
}

#play{
  font-size: 48px;
}

#progress {
  width: 80vw;
  height: 0.5vh;
}

.artist_name {
  font-weight: lighter;
  color: rgb(190, 190, 190);
}
.song_name {
  font-weight: lighter;
}

.song {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  color: white;
}
.song img {
  height: 6vh;
  object-fit: contain;
  border-radius: 5px;
  margin-right: 10vw;
  margin-left: 5vw;
}